/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeng/resources/themes/nova-colored/theme.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";

.width-10 {
    width: 10%
}

.width-20 {
    width: 20%
}

.width-30 {
    width: 30%
}

.width-40 {
    width: 40%
}

.width-50 {
    width: 50%
}