/* You can add global styles to this file, and also import other style files */

@import url("../node_modules/primeicons/primeicons.css");
@import url("../node_modules/primeng/resources/primeng.min.css");
@import url("../node_modules/primeng/resources/themes/nova-colored/theme.css");

.width-10 {
    width: 10%
}

.width-20 {
    width: 20%
}

.width-30 {
    width: 30%
}

.width-40 {
    width: 40%
}

.width-50 {
    width: 50%
}