<form class="d-flex flex-column align-items-center" [formGroup]="loginForm" (ngSubmit)="onLoginClicked(loginForm)">
  <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Username" formControlName="userName">
  </div>
  <span *ngIf="loginForm.hasError('required', 'userName')" class="text-danger">
    Username is required
  </span>
  <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="Password" formControlName="password">
  </div>
  <span *ngIf="loginForm.hasError('required', 'password')" class="text-danger">
    Password is required
  </span>
  <button pButton type="submit" label="Log In" [disabled]="!loginForm.valid || busy" class="w-50"></button>
</form>

<!-- https://stackoverflow.com/questions/51605737/confirm-password-validation-in-angular-6 -->