<div class="d-flex flex-column align-items-center">
  <p-steps [model]="stepForm.menuItems" [activeIndex]="stepForm.activeIndex"></p-steps>
  <form [formGroup]="registrationForm" class="d-flex flex-column align-items-center w-50">
    <div *ngIf="stepForm.currentStateName == 'BasicInfoState'">
      <div class="p-2">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Username" formControlName="userName" class="w-100">
        </div>
        <span *ngFor="let key of registrationForm.controls.userName.errors | objToKeys" class="text-danger">
          <div *ngIf="registrationForm.touched">
            {{errorDictionary.userName[key]}}
          </div> 
        </span>
      </div>
      <div class="p-2">
        <div class="ui-inputgroup">
            <input type="text" pInputText placeholder="Email" formControlName="emailAddress" class="w-100">
        </div>
        <span *ngFor="let key of registrationForm.controls.emailAddress.errors | objToKeys" class="text-danger">
          <div *ngIf="registrationForm.touched">
            {{errorDictionary.emailAddress[key]}}
          </div> 
        </span>
      </div>
    </div>
    <div *ngIf="stepForm.currentStateName == 'AddressState'" formGroupName="address" class="d-flex flex-column align-items-center">
      <div [formGroupName]="addrType" *ngFor="let addrType of registrationForm.controls.address.controls | objToKeys" class="d-flex flex-column">
        <span class="text-center">{{addrType == 'homeAddress' ? "Home Address" : "Mailing Address"}}</span>  
        <div class="p-2" *ngIf="addrType == 'mailingAddress'">
          <p-checkbox [(value)]="addressesSame" label="Same as home address" binary="true" (onChange)="onAddressCheckBoxChanged($event)" class="w-100"></p-checkbox>
        </div>
        <div class="p-2">
          <div class="ui-inputgroup">
              <input type="text" pInputText placeholder="Street" formControlName="street" class="w-100">
          </div>
          <span *ngFor="let key of registrationForm.controls.address.controls[addrType].controls.street.errors | objToKeys" class="text-danger">
            <div *ngIf="registrationForm.controls.address.controls[addrType].controls.street.touched">
              {{errorDictionary.address.street[key]}}
            </div> 
          </span>
        </div>
        <div class="p-2">
          <div class="ui-inputgroup">
              <input type="text" pInputText placeholder="City" formControlName="city" class="w-100">
          </div>
          <span *ngFor="let key of registrationForm.controls.address.controls[addrType].controls.city.errors | objToKeys" class="text-danger">
            <div *ngIf="registrationForm.controls.address.controls[addrType].controls.city.touched">
              {{errorDictionary.address.city[key]}}
            </div> 
          </span>
        </div>
        <div class="p-2">
          <div class="ui-inputgroup">
              <p-dropdown [options]="states" [filter]="true" formControlName="state" placeholder="State"></p-dropdown>
          </div>
          <span *ngFor="let key of registrationForm.controls.address.controls[addrType].controls.state.errors | objToKeys" class="text-danger">
            <div *ngIf="registrationForm.controls.address.controls[addrType].controls.state.touched">
              {{errorDictionary.address.state[key]}}
            </div> 
        </span>
        </div>
        <div class="p-2">
          <div class="ui-inputgroup">
              <input type="text" pInputText placeholder="Zip code" formControlName="zipCode" class="w-100">
          </div>
          <span *ngFor="let key of registrationForm.controls.address.controls[addrType].controls.zipCode.errors | objToKeys" class="text-danger">
            <div *ngIf="registrationForm.controls.address.controls[addrType].controls.zipCode.touched">
                {{errorDictionary.address.zipCode[key]}}
              </div> 
          </span>
        </div>
        <div class="p-2">
          <div class="ui-inputgroup">
              <input type="text" pInputText placeholder="Country" formControlName="country" class="w-100">
          </div>
          <span *ngFor="let key of registrationForm.controls.address.controls[addrType].controls.country.errors | objToKeys" class="text-danger">
            <div *ngIf="registrationForm.controls.address.controls[addrType].controls.country.touched">
              {{errorDictionary.address.country[key]}}
            </div> 
          </span>
        </div>
      </div>
    </div>
    <div *ngIf="stepForm.currentStateName == 'PasswordState'">
      <div class="p-2">
        <div class="ui-inputgroup">
            <input type="password" pInputText placeholder="Password" formControlName="password">
        </div>
        <div *ngFor="let key of registrationForm.controls.password.errors | objToKeys" class="text-danger">
          <span *ngIf="registrationForm.controls.password.touched">
            {{errorDictionary.password[key]}}
          </span> 
        </div>
      </div>
      <div class="p-2">
        <div class="ui-inputgroup">
            <input type="password" pInputText placeholder="Confirm password" formControlName="confirmPassword">
        </div>
        <div *ngFor="let key of registrationForm.controls.confirmPassword.errors | objToKeys" class="text-danger">
          <span *ngIf="registrationForm.controls.confirmPassword.touched">
            {{errorDictionary.confirmPassword[key]}}
          </span> 
        </div>
        <span *ngIf="registrationForm.hasError('confirmPassword')" class="text-danger">
          Passwords do not match
        </span> 
      </div>      
    </div>
    <div *ngIf="stepForm.currentStateName == 'ConfirmationState'" class="d-flex flex-column">
      <div>
        <b class="mr-2">Username: </b>
        <span>{{registrationForm.controls.userName.value}}</span>
      </div>
      <div>
        <b class="mr-2">Email: </b>
        <span>{{registrationForm.controls.emailAddress.value}}</span>
      </div>
      <div *ngFor="let addrType of registrationForm.controls.address.controls | objToKeys" class="d-flex flex-column w-100">
        <b>{{addrType == 'homeAddress' ? "Home Address" : "Mailing Address"}}</b>
        <app-address [address]="registrationForm.controls.address.controls[addrType].value"></app-address>
      </div>
    </div>
    <div class="d-flex justify-content-between w-100 p-2">
      <button pButton type="button" label="Back" [disabled]="!stepForm.canGoBack()" (click)="stepForm.back()"></button>
      <button pButton type="button" [label]="stepForm.nextButtonLabel" [disabled]="busy || !stepForm.canGoNext()" (click)="next(stepForm.nextButtonLabel)"></button>
    </div>
    
  </form>
</div>